.animate-caret {
  animation-name: caret;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

@keyframes caret {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.prompt-answer-done .caret {
  @apply hidden;
}

.prompt-answer-loading :not(:last-child) .caret {
  @apply hidden;
}

.prompt-answer-loading :last-child .caret {
  @apply visible;
}

#avaGPT {
  @apply text-slate-600;
}

#avaGPT a {
  @apply font-bold border-b border-sky-500;
}

#avaGPT a:hover {
  @apply border-b-2;
}

#avaGPT strong,
#avaGPT bold {
  @apply text-sky-500;
}

#avaGPT h1:not(:first-child),
#avaGPT h2,
#avaGPT h3 {
  @apply mt-8;
}

#avaGPT h2.no-mt,
#avaGPT h3.no-mt {
  @apply mt-0;
}

#avaGPT h2 + p,
#avaGPT h3 + p {
  @apply mt-0;
}

#avaGPT ol {
  @apply list-none;
}

#avaGPT ul:not(.code-block ul) {
  @apply list-disc;
}

#avaGPT ol:not(.code-block ol),
#avaGPT ul:not(.code-block ul) {
  @apply text-base pl-8 mb-6 leading-7 dark:text-slate-400;
}

#avaGPT ol:not(.code-block ol) {
  @apply pl-0;
}

#avaGPT ol.no-pl,
#avaGPT ul.no-pl {
  @apply pl-0;
}

#avaGPT ol:not(.code-block ol) li,
#avaGPT ul:not(.code-block ul) li {
  @apply mb-2 pl-2;
}

#avaGPT ol:not(.code-block ol) li {
  counter-increment: step-counter;
  @apply relative pl-10;
}

#avaGPT ol:not(.code-block ol) li:after {
  content: counter(step-counter);
  @apply text-sm inline-block bg-slate-200 text-slate-600 rounded-full font-medium mr-4 px-2 py-0.5 absolute left-0 top-0.5;
}

#avaGPT p {
  @apply sm:text-base my-6 leading-7 dark:text-slate-400;
}

#avaGPT blockquote {
  @apply border-l-2 border-sky-500 pl-6 my-6 dark:border-sky-400 break-words;
}

#avaGPT blockquote p {
  @apply py-2;
  margin: 0;
}

#avaGPT blockquote code,
#avaGPT code.code {
  font-size: 0.8rem !important;
  line-height: 1.5rem !important;
}

#avaGPT code {
  @apply font-semibold text-sm;
  color: #0f172a;
  font-variant-ligatures: none;
}

.dark #avaGPT code {
  color: #fff;
}
