pre.prism-code {
  @apply bg-slate-800 p-4 overflow-x-auto;
}

.withCollapseExpandButton pre.prism-code {
  @apply pb-12;
}

pre {
  @apply text-slate-50;
}

.CodeLine {
  @apply min-w-full;
}

.HighlightedCodeLine {
  @apply -mx-4 pl-3 pr-5 border-l-4 border-sky-400 bg-sky-300/[0.15];
}

.CodeLineNumber {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
  @apply text-slate-400 w-10;
}

.CodeLineContent {
  display: table-cell;
}
