.aa-DetachedSearchButton {
  @apply w-full flex items-center text-sm leading-6 text-slate-400 rounded-md lg:ring-1 lg:ring-slate-900/10 lg:shadow-sm lg:py-1.5 lg:pl-2 lg:pr-3 lg:hover:ring-slate-300 lg:dark:bg-slate-800 lg:dark:hover:bg-slate-700;
}

.aa-DetachedSearchButtonPlaceholder {
  @apply ml-3 hidden lg:block;
}

.aa-DetachedOverlay {
  @apply w-screen h-screen fixed z-[200] top-0 left-0 flex flex-col bg-black/30 backdrop-blur-sm p-4 sm:p-6 md:p-[10vh] lg:p-[12vh] dark:bg-slate-900/80;
}

.aa-DetachedContainer--modal {
  margin: 0 auto;
  width: 90%;
  max-width: 47.375rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: theme('borderRadius.lg');
  box-shadow: theme('boxShadow.lg');
}

.aa-DetachedFormContainer {
  @apply z-20 bg-white rounded-lg;
  color: #262627;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.dark .aa-DetachedFormContainer {
  @apply bg-slate-800;
}

.aa-DetachedCancelButton {
  @apply hidden;
}

.aa-Form {
  @apply flex items-center rounded shadow-md;
  line-height: 1em;
  margin: 0;
  position: relative;
  width: 100%;
}

.aa-Form[focus-within],
.aa-Form:focus-within {
  @apply shadow-md;
}

.aa-InputWrapperPrefix {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 44px;
  order: 1;
}

.aa-Label,
.aa-LoadingIndicator {
  cursor: auto;
  flex-shrink: 0;
  height: 100%;
  padding: 0;
  text-align: left;
}
.aa-Label svg,
.aa-LoadingIndicator svg {
  @apply text-slate-600;
  height: auto;
  max-height: 20px;
  stroke-width: 1.6;
  width: 20px;
}
.aa-LoadingIndicator,
.aa-SubmitButton {
  height: 100%;
  padding-left: 11px;
  padding-right: 8px;
  width: 47px;
}

@media (hover: none) and (pointer: coarse) {
  .aa-LoadingIndicator,
  .aa-SubmitButton {
    padding-left: 3px;
    width: 39px;
  }
}
.aa-SubmitButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  margin: 0;
}
.aa-LoadingIndicator {
  align-items: center;
  display: flex;
  justify-content: center;
}
.aa-LoadingIndicator[hidden] {
  display: none;
}
.aa-InputWrapper {
  order: 3;
  position: relative;
  width: 100%;
}
.aa-Input {
  @apply text-slate-800;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  font: inherit;
  height: 44px;
  padding: 0;
  width: 100%;
}

.dark .aa-Input {
  @apply text-slate-100;
}

.aa-Input::-moz-placeholder,
.aa-Input:-ms-input-placeholder,
.aa-Input::placeholder {
  @apply text-slate-300;
}

.aa-Input:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}
.aa-Input::-webkit-search-cancel-button,
.aa-Input::-webkit-search-decoration,
.aa-Input::-webkit-search-results-button,
.aa-Input::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}
.aa-InputWrapperSuffix {
  align-items: center;
  display: flex;
  height: 44px;
  order: 4;
}
.aa-ClearButton {
  align-items: center;
  background: none;
  border: 0;
  color: rgba(128, 126, 163, 0.6);
  cursor: pointer;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0 12.8333333333px;
}

.dark .aa-ClearButton {
  @apply text-slate-300;
}

@media (hover: none) and (pointer: coarse) {
  .aa-ClearButton {
    padding: 0 10.1666666667px;
  }
}

.aa-ClearButton:focus,
.aa-ClearButton:hover {
  color: #262627;
}

.dark .aa-ClearButton:focus,
.dark .aa-ClearButton:hover {
  @apply text-slate-100;
}

.aa-ClearButton[hidden] {
  display: none;
}
.aa-ClearButton svg {
  stroke-width: 1.6;
  width: 20px;
}

.aa-Panel {
  @apply p-2 mt-2 rounded mt-2;
  background-color: #fff;
  box-shadow: none;
  flex-grow: 1;
  position: relative;
}

.dark .aa-Panel {
  @apply bg-slate-700;
}

.aa-Item {
  @apply bg-slate-100 rounded-lg py-2 px-4 grid items-center mb-2;
  cursor: pointer;
  min-height: 40px;
  min-height: calc(var(--aa-spacing) * 2.5);
}

.dark .aa-Item {
  @apply bg-slate-800;
}

.aa-Item[aria-selected='true'] {
  @apply bg-sky-200;
}

.dark .aa-Item[aria-selected='true'] {
  @apply bg-sky-600;
}

.aa-Item[aria-selected='true'] .aa-ActiveOnly,
.aa-Item[aria-selected='true'] .aa-ItemActionButton {
  visibility: visible;
}
.aa-ItemIcon {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(128, 126, 163, 0.3);
  color: #7777a3;
  display: flex;
  flex-shrink: 0;
  font-size: 0.7em;
  height: 28px;
  justify-content: center;
  overflow: hidden;
  stroke-width: 1.6;
  text-align: center;
  width: 28px;
}
.aa-ItemIcon img {
  height: auto;
  max-height: 20px;
  max-width: 20px;
  width: auto;
}
.aa-ItemIcon svg {
  height: 20px;
  width: 20px;
}
.aa-ItemIcon--alignTop {
  align-self: flex-start;
}
.aa-ItemIcon--noBorder {
  background: none;
  box-shadow: none;
}
.aa-ItemIcon--picture {
  height: 96px;
  width: 96px;
}
.aa-ItemIcon--picture img {
  max-height: 100%;
  max-width: 100%;
  padding: 8px;
  padding: var(--aa-spacing-half);
}
.aa-ItemContent {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  grid-auto-flow: column;
  line-height: 1.25em;
  overflow: hidden;
}
.aa-ItemContent:empty {
  display: none;
}
.aa-ItemContent mark {
  background: none;
  color: #262627;
  font-style: normal;
  font-weight: 700;
}
.aa-ItemContent--dual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.aa-ItemContent--dual .aa-ItemContentSubtitle,
.aa-ItemContent--dual .aa-ItemContentTitle {
  display: block;
}
.aa-ItemContent--indented {
  padding-left: 36px;
}
.aa-ItemContentBody {
  display: grid;
  grid-gap: 4px;
  gap: 4px;
}
.aa-ItemContentTitle {
  display: inline-block;
  margin: 0 0.5em 0 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.aa-ItemContentSubtitle {
  font-size: 0.92em;
}
.aa-ItemContentSubtitleIcon:before {
  border-color: rgba(128, 126, 163, 0.64);
  border-style: solid;
  content: '';
  display: inline-block;
  left: 1px;
  position: relative;
  top: -3px;
}
.aa-ItemContentSubtitle--inline .aa-ItemContentSubtitleIcon:before {
  border-width: 0 0 1.5px;
  margin-left: 8px;
  margin-right: 4px;
  width: 10px;
}
.aa-ItemContentSubtitle--standalone {
  align-items: center;
  color: #262627;
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  grid-auto-flow: column;
  justify-content: start;
}
.aa-ItemContentSubtitle--standalone .aa-ItemContentSubtitleIcon:before {
  border-radius: 0 0 0 3px;
  border-width: 0 0 1.5px 1.5px;
  height: 8px;
  width: 8px;
}
.aa-ItemContentSubtitleCategory {
  color: #807ea3;
  font-weight: 500;
}
.aa-ItemContentDescription {
  color: #262627;
  font-size: 0.85em;
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.aa-ItemContentDescription:empty {
  display: none;
}
.aa-ItemContentDescription mark {
  background: rgba(245, 223, 77, 0.5);
  color: #262627;
  font-style: normal;
  font-weight: 500;
  font-weight: var(--aa-font-weight-medium);
}
.aa-ItemContentDash {
  color: rgba(128, 126, 163, 0.6);
  display: none;
  opacity: 0.4;
}
.aa-ItemContentTag {
  background-color: rgba(62, 52, 211, 0.2);
  border-radius: 3px;
  margin: 0 0.4em 0 0;
  padding: 0.08em 0.3em;
}
.aa-ItemLink,
.aa-ItemWrapper {
  align-items: center;
  color: inherit;
  display: grid;
  grid-gap: 4px;
  gap: 4px;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 100%;
}
.aa-ItemLink {
  color: inherit;
  text-decoration: none;
}
.aa-ItemActions {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  justify-self: end;
  margin: 0 -5.3333333333px;
  padding: 0 2px 0 0;
}
.aa-ItemActionButton {
  align-items: center;
  background: none;
  border: 0;
  color: rgba(128, 126, 163, 0.6);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  padding: 0;
}
.aa-ItemActionButton:focus svg,
.aa-ItemActionButton:hover svg {
  color: #262627;
}
@media (hover: none) and (pointer: coarse) {
  .aa-ItemActionButton:focus svg,
  .aa-ItemActionButton:hover svg {
    color: inherit;
  }
}
.aa-ItemActionButton svg {
  color: rgba(128, 126, 163, 0.6);
  margin: 5.3333333333px;
  stroke-width: 1.6;
  width: 20px;
}

.aa-ActiveOnly {
  visibility: hidden;
}
.aa-PanelHeader {
  align-items: center;
  background: #3e34d3;
  color: #fff;
  display: grid;
  margin: 0;
  padding: 8px 16px;
  position: relative;
}
.aa-PanelHeader:after {
  background-image: linear-gradient(#fff, hsla(0, 0%, 100%, 0));
  bottom: -8px;
  content: '';
  height: 8px;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.aa-PanelFooter,
.aa-PanelHeader:after {
  z-index: 9999;
}
.aa-PanelFooter {
  background-color: #fff;
  box-shadow: inset 0 1px 0 rgba(128, 126, 163, 0.3);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  position: relative;
}
.aa-PanelFooter:after {
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0),
    rgba(128, 126, 163, 0.6)
  );
  content: '';
  height: 16px;
  height: var(--aa-spacing);
  left: 0;
  opacity: 0.12;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -16px;
  z-index: 9998;
}
.aa-DetachedContainer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.aa-DetachedContainer:after {
  height: 32px;
}
.aa-DetachedContainer .aa-SourceHeader {
  margin: 8px 0 8px 2px;
}

.aa-DetachedContainer .aa-PanelLayout {
  bottom: 0;
  box-shadow: none;
  left: 0;
  margin: 0;
  max-height: none;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.aa-DetachedCancelButton {
  background: none;
  border: 0;
  border-radius: 3px;
  color: inherit;
  color: #262627;
  cursor: pointer;
  font: inherit;
  margin: 0 0 0 8px;
  padding: 0 8px;
}
.aa-DetachedCancelButton:focus,
.aa-DetachedCancelButton:hover {
  box-shadow: inset 0 0 0 1px rgba(128, 126, 163, 0.3);
}
.aa-DetachedContainer--modal {
  border-radius: 6px;
  bottom: inherit;
  height: auto;
  margin: 0 auto;
  max-width: 680px;
  position: absolute;
  top: 7%;
}
.aa-DetachedContainer--modal .aa-PanelLayout {
  max-height: 500px;
  padding-bottom: 8px;
  position: static;
}
.aa-Detached {
  height: 100vh;
  overflow: hidden;
}
/* .aa-DetachedOverlay {
  background-color: rgba(115, 114, 129, 0.4);
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
} */
.aa-GradientBottom,
.aa-GradientTop {
  height: 8px;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 9999;
}
.aa-GradientTop {
  background-image: linear-gradient(#fff, hsla(0, 0%, 100%, 0));
  top: 0;
}
.aa-GradientBottom {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0), #fff);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 0;
}

.dark .aa-GradientBottom {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0), #334155);
}

@media (hover: none) and (pointer: coarsfe) {
  .aa-DesktopOnly {
    display: none;
  }
}
@media (hover: hover) {
  .aa-TouchOnly {
    display: none;
  }
}
