#content-wrapper {
  @apply text-slate-600;
}

#content-wrapper strong,
#content-wrapper bold {
  @apply text-sky-500;
}

#content-wrapper a.button:not(.custom-link) {
  @apply leading-none inline-flex items-center cursor-pointer inline-block font-semibold rounded-lg whitespace-nowrap text-center px-5 py-2.5 text-sm text-white bg-sky-500 hover:bg-sky-400;
}

#content-wrapper a.button:not(.custom-link):focus {
  @apply outline-none ring-2 ring-offset-2;
}

#content-wrapper a:not([aria-label='Anchor'], .button, .custom-link) {
  @apply font-bold border-b border-sky-500;
}

#content-wrapper a:not([aria-label='Anchor'], .button, .custom-link):hover {
  @apply border-b-2;
}

#content-wrapper h2,
#content-wrapper h3 {
  @apply mt-8;
}

#content-wrapper h2 + p,
#content-wrapper h3 + p {
  @apply mt-0;
}

#content-wrapper ol {
  @apply list-none;
}

#content-wrapper ul:not(.code-block ul) {
  @apply list-disc;
}

#content-wrapper ol:not(.code-block ol),
#content-wrapper ul:not(.code-block ul) {
  @apply sm:text-lg pl-8 mb-6 leading-7 dark:text-slate-400;
}

#content-wrapper ol:not(.code-block ol) {
  @apply pl-0;
}

#content-wrapper ol.no-pl,
#content-wrapper ul.no-pl {
  @apply pl-0;
}

#content-wrapper ol:not(.code-block ol) li,
#content-wrapper ul:not(.code-block ul) li {
  @apply mb-2 pl-2;
}

#content-wrapper ol:not(.code-block ol) li {
  counter-increment: step-counter;
  @apply relative pl-10;
}

#content-wrapper ol:not(.code-block ol) li:after {
  content: counter(step-counter);
  @apply text-sm inline-block bg-slate-200 text-slate-600 rounded-full font-medium mr-4 px-2 py-0.5 absolute left-0 top-0.5;
}

#content-wrapper p:not(.alert p) {
  @apply sm:text-lg my-6 leading-7 dark:text-slate-400;
}

#content-wrapper blockquote {
  @apply border-l-2 border-sky-500 pl-6 my-6 dark:border-sky-400 break-words;
}

#content-wrapper blockquote p {
  @apply py-2;
  margin: 0;
}

#content-wrapper blockquote code,
code.code {
  font-size: 0.8rem !important;
  line-height: 1.5rem !important;
}

#content-wrapper code,
code.code {
  @apply font-semibold text-sm;
  color: #0f172a;
  font-variant-ligatures: none;
}

.dark #content-wrapper code,
.dark code.code {
  color: #fff;
}

#content-wrapper code:before,
#content-wrapper code:after,
code.code:before,
code.code:after {
  content: '`';
}
