.explorer-sidepane #graphiql-embed {
  @apply max-h-96 overflow-y-scroll;
}

#graphiql-embed .doc-explorer-title-bar,
#graphiql-embed .history-title-bar {
  @apply h-auto;
  cursor: default;
  user-select: none;
}

#graphiql-embed .doc-explorer-title,
#graphiql-embed .history-title {
  flex: 1;
  overflow-x: hidden;
  text-align: center;
  text-overflow: ellipsis;
  user-select: text;
  white-space: nowrap;
}

#graphiql-embed .doc-explorer-title {
  @apply hidden;
}

.dark #graphiql-embed .doc-explorer-title {
  @apply text-sky-400;
}

#graphiql-embed .doc-explorer-back {
  @apply text-slate-600 pl-1 h-10 pb-2;
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark #graphiql-embed .doc-explorer-back {
  @apply text-slate-300;
}

#graphiql-embed .doc-explorer-narrow .doc-explorer-back {
  width: 0;
}

#graphiql-embed .doc-explorer-back:before {
  border-left: 2px solid #3b5998;
  border-top: 2px solid #3b5998;
  content: '';
  display: inline-block;
  height: 9px;
  margin: 0 3px -1px 0;
  position: relative;
  transform: rotate(-45deg);
  width: 9px;
}

.dark #graphiql-embed .doc-explorer-back:before {
  @apply border-slate-300;
  content: '';
  display: inline-block;
  height: 9px;
  margin: 0 3px -1px 0;
  position: relative;
  transform: rotate(-45deg);
  width: 9px;
}

#graphiql-embed .doc-explorer-rhs {
  position: relative;
}

#graphiql-embed .doc-explorer-contents,
#graphiql-embed .history-contents {
  /* overflow-y: auto; */
  @apply text-lg break-words;
}

#graphiql-embed .explorer-sidepane .doc-explorer-contents,
#graphiql-embed .explorer-sidepane .history-contents {
  /* overflow-y: auto; */
  @apply text-sm;
}

#graphiql-embed .doc-type-description p:first-child,
#graphiql-embed .doc-type-description blockquote:first-child {
  margin-top: 0;
}

#graphiql-embed .doc-explorer-contents a {
  cursor: pointer;
  text-decoration: none;
}

#graphiql-embed .doc-explorer-contents a:hover {
  text-decoration: underline;
}

#graphiql-embed .doc-value-description > :first-child {
  margin-top: 4px;
}

#graphiql-embed .doc-value-description > :last-child {
  margin-bottom: 4px;
}

#graphiql-embed .doc-type-description code,
#graphiql-embed .doc-type-description pre,
#graphiql-embed .doc-category code,
#graphiql-embed .doc-category pre {
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  font-size: 12px;
  line-height: 1.50001;
  font-variant-ligatures: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

#graphiql-embed .doc-type-description code,
#graphiql-embed .doc-category code {
  padding: 2px 3px 1px;
  border: 1px solid var(--saf-0);
  border-radius: 3px;
  background-color: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  color: #e01e5a;
}

#graphiql-embed .doc-category {
  margin: 20px 0;
}

#graphiql-embed .doc-category-title {
  @apply text-slate-600 text-xl border-b border-slate-600;
  cursor: default;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 0;
  user-select: none;
}

.dark #graphiql-embed .doc-category-title {
  @apply text-slate-300 border-slate-300;
}

#graphiql-embed .doc-category-item {
  margin: 12px 0;
  @apply text-slate-800;
}

.dark #graphiql-embed .doc-category-item {
  @apply text-slate-300;
}

#graphiql-embed .keyword {
  color: rgb(196, 57, 151);
}

.dark #graphiql-embed .keyword {
  color: rgb(255, 163, 224);
}

#graphiql-embed .type-name {
  color: rgb(132, 103, 29);
}

.dark #graphiql-embed .type-name {
  color: rgb(255, 232, 142);
}

#graphiql-embed .field-name {
  color: rgb(63, 32, 186);
}

.dark #graphiql-embed .field-name {
  color: rgb(173, 155, 246);
}

#graphiql-embed .field-short-description {
  @apply text-slate-600;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark #graphiql-embed .field-short-description {
  @apply text-slate-300;
}

#graphiql-embed .enum-value {
  color: #0b7fc7;
}

#graphiql-embed .arg-name {
  color: rgb(29, 123, 120);
}

.dark #graphiql-embed .arg-name {
  color: rgb(139, 246, 242);
}

#graphiql-embed .arg {
  display: block;
  margin-left: 1em;
}

#graphiql-embed .arg:first-child:last-child,
#graphiql-embed .arg:first-child:nth-last-child(2),
#graphiql-embed .arg:first-child:nth-last-child(2) ~ .arg {
  display: inherit;
  margin: inherit;
}

#graphiql-embed .arg:first-child:nth-last-child(2):after {
  content: ', ';
}

#graphiql-embed .arg-default-value {
  color: #43a047;
}

#graphiql-embed .doc-deprecation {
  background: #fffae8;
  box-shadow: inset 0 0 1px #bfb063;
  color: #867f70;
  line-height: 16px;
  margin: 8px -8px;
  max-height: 80px;
  overflow: hidden;
  padding: 8px;
  border-radius: 3px;
}

#graphiql-embed .doc-deprecation:before {
  content: 'Deprecated:';
  color: #c79b2e;
  cursor: default;
  display: block;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding-bottom: 5px;
  text-transform: uppercase;
  user-select: none;
}

#graphiql-embed .doc-deprecation > :first-child {
  margin-top: 0;
}

#graphiql-embed .doc-deprecation > :last-child {
  margin-bottom: 0;
}

#graphiql-embed .show-btn {
  -webkit-appearance: initial;
  display: block;
  border-radius: 3px;
  border: solid 1px #ccc;
  text-align: center;
  padding: 8px 12px 10px;
  width: 100%;
  box-sizing: border-box;
  background: #fbfcfc;
  color: #555;
  cursor: pointer;
}

#graphiql-embed .search-box {
  @apply mb-4 mt-0.5;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}

#graphiql-embed .search-box-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  transform: rotate(-45deg);
  user-select: none;
}

#graphiql-embed .search-box .search-box-clear {
  @apply ml-2 bg-slate-300 text-slate-600 font-semibold rounded-lg px-2 py-1;
  cursor: pointer;
  font-size: 11px;
  user-select: none;
  border: 0;
}

#graphiql-embed .search-box .search-box-clear:hover {
  @apply bg-slate-400;
}

#graphiql-embed .search-box > input {
  @apply w-72 lg:flex items-center text-sm leading-6 text-slate-700 rounded-md ring-1 ring-slate-900/10 shadow-sm py-1.5 pl-2 pr-3 hover:ring-slate-300 dark:bg-slate-800 dark:hover:bg-slate-700;
}

#graphiql-embed .explorer-sidepane .search-box > input {
  @apply w-full mx-0.5;
}

#graphiql-embed .error-container {
  font-weight: bold;
  left: 0;
  letter-spacing: 1px;
  opacity: 0.5;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}
