table {
  @apply w-full text-left border-collapse text-sm;
}

table th {
  @apply sticky z-10 top-0 text-sm leading-6 font-semibold text-slate-700 bg-white p-0 dark:bg-slate-900 dark:text-slate-300 py-2 px-4 border-b border-slate-200 dark:border-slate-400/20;
}

table tbody {
  @apply align-baseline;
}

table tbody tr {
  @apply border-b border-slate-100;
}

table tbody tr td {
  @apply py-2 px-4 leading-6 dark:text-sky-400;
}

table > tbody > tr > td:nth-of-type(1) {
  @apply font-semibold leading-6 text-sky-500 whitespace-nowrap dark:text-sky-400;
}

.table-wrapper {
  @apply overflow-hidden lg:overflow-auto scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-transparent scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 scrollbar-track:!rounded dark:scrollbar-track:!bg-slate-500/[0.16] dark:scrollbar-thumb:!bg-slate-500/50 max-h-96 supports-scrollbars:pr-2 lg:max-h-96;
}
